<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<link href="resources/css/calendar-blue.css" rel="stylesheet"
	type="text/css" />
<script src="resources/js/jquery.dynDateTime.min.js"
	type="text/javascript"></script>
<script src="resources/js/calendar-en.min.js" type="text/javascript"></script>

<script>
	$(document)
			.ready(
					function() {
						// Code By 
						// Shourav Sharif : 01711080718

						// Default Hide and Lock
						// alert("I'm Here");
						hideAll();
						disableAll();
						//Java
						//session.setAttribute("metricValues", metricDataList);   // you state session

						//JSP
						//<input id='mv' type='hidden' value='${sessionScope.metricValues}'/>  // you state session variable
						//<input id='id_role_current' type='hidden' value='ro'/>
						//<input id='id_role_done' type='hidden' value='rp'/>

						//JS

						//$(document).ready(function(){
						//    var mv = $('#mv').val ();

						// For Normal Variable
						// Set the session variable * *
						//var current = 'vocm';
						//localStorage.setItem('role_current', current);

						//ticket_creator,vocm,tcm_network,rp,ro

						//var done = 'ticket_creator,tcm_network,rp,ro';
						//localStorage.setItem('role_done', done);

						//var name = localStorage.getItem("windowsloginid");
						//var name = 'sssssss';
						//var name = localStorage.getItem("windowsloginid");
						//var name = '<%= session.getAttribute("windowsloginid") %>';
						//var name = session.getAttribute("windowsloginid");

						//var name = "<%= windowsloginid %>" ;
						//var name = "#{sessionScope['windowsloginid']}";

						var role_current = $('#id_role_current').val();
						var role_done = $('#id_role_done').val();

						//test data
						//var role_current = 'tcm_network';
						//var role_done = 'ticket_creator';

						// from page url parameter
						//var role_current = 'vocm';
						//var role_current = getUrlParameter('role_current');
						//var role_done = 'tcm_network,rp,ro';
						//var role_done = getUrlParameter('role_done');

						//document.writeln("name : "+name);

						//* * Get the Session variable * *
						//var role_current = localStorage.getItem('windowsloginid');

						//document.writeln("role_current : "+role_current);
						//alert("role_current : " + role_current);
						//console.log(role_current);

						//var role_done = localStorage.getItem('windowsloginid');

						//document.writeln("role_done : "+role_done);
						//alert("role_done : " + role_done);
						//console.log(role_done)

						//var name = httpSession.getAttribute("windowsloginid").toString();

						//document.writeln("name : "+name);

						// For Angular JS Session
						//var role_current = $sessionScope.usertype; // Need to modify
						//var role_done = $sessionScope.usertype; // Need to check

						// For Java Session

						// Listing and show Done Dept
						// var arrayOfStrings = stringToSplit.split(separator);
						var role_done_list = role_done.split(',');
						for (i = 0; i < role_done_list.length; i++) {

							var dept = role_done_list[i];
							showDept(dept);
						}

						// show and enaable current dept
						showDept(role_current);
						enableDept(role_current);
						function hideAll() {

							$("#div_group_ticket_creator").hide();
							$("#div_group_employee_reference").hide();
							$("#div_group_vocm").hide();
							$("#div_group_tcm_network").hide();
							$("#div_group_rp").hide();
							$("#div_group_ro").hide();
							$("#div_group_deployment").hide();
							$("#div_group_regional_transformation").hide();
						}
						// calender
						$("#sudden_input").dynDateTime({
							showsTime : true,
							ifFormat : "%m/%d/%Y %H:%M",
							daFormat : "%l;%M %p, %e %m,  %Y",
							align : "BR",
							electric : true,
							singleClick : false,
							displayArea : ".siblings('.dtcDisplayArea')",
							button : ".next()"
						});
						// decision
						$("#sudden").show();
						$('label[for="sudden"]').show();
						$('label[for="regular"]').show();
						$("#regular").show();
						if ($("#dd_coverage_problem") == 'Regular') {
							$("#sudden").hide();
							$('label[for="sudden"]').hide();
							$('label[for="regular"]').show();
							$("#regular").show();
							alert("mahbub");
						} else if($("#dd_coverage_problem") == 'Sudden'){
							$('label[for="regular"]').hide();
							$("#regular").hide();
							$("#sudden").show();
							$('label[for="sudden"]').show();
							alert("Tithi");

						}
						if ($("#dd_employee_reference_type") == 'No') {
							$("#div_txt_employee_name").hide();
							$("#div_dd_employee_designation").hide();
							$("#div_txt_employee_number").hide();
							alert("xxx");
						} 
						else if ($("#dd_employee_reference_type") == 'Yes') {
							$("#div_txt_employee_name").show();
							$("#div_dd_employee_designation").show();
							$("#div_txt_employee_number").show();
							alert("sss");
						}

						$("#dd_coverage_problem")
						.change(
								function() {
									var ch = $('#dd_coverage_problem')
											.val();

									if (ch.trim() == "Sudden") {
										//alert("sudden");

										//	$("#sudden_input").attr("required","required");
										$("#regular_input").val("");
										//$("#regular_input").removeAttr("required", "required");
										$("#regular").hide();
										$("#sudden").show();
										$('label[for="sudden"]').show();
										$('label[for="regular"]')
												.hide();
										//$('#sudden_input').datetimepicker();

										//$("#regular").hide();

										var d = new Date();

										var month = d.getMonth() + 1;
										var day = d.getDate();
										var hour = d.getHours();
										var minute = d.getMinutes();
										var second = d.getSeconds();

										var output = (('' + month).length < 2 ? '0'
												: '')
												+ month
												+ '/'
												+ (('' + day).length < 2 ? '0'
														: '')
												+ day
												+ '/'
												+ d.getFullYear()
												+ ' '
												+ (('' + hour).length < 2 ? '0'
														: '')
												+ hour
												+ ':'
												+ (('' + minute).length < 2 ? '0'
														: '') + minute;
										$("#sudden_input").val(output);

									} else if (ch.trim() == "Regular"
											.trim()) {
										$("#regular_input").attr(
												"required", "required");
										$("#sudden_input").val = ("");
										//$("#sudden_input").removeAttr("required", "required");
										$("#sudden").hide();
										$('label[for="sudden"]').hide();
										$('label[for="regular"]')
												.show();

										$("#regular").show();
										/* $("#regular_input").attr("required",
										"required"); */
										//alert("req");
									} else {
										/* $("#regular_input").attr("required",
												"required"); */
										//$("#sudden_input").attr("required","required");
										$("#sudden").hide();
										$('label[for="sudden"]').hide();
										$('label[for="regular"]')
												.hide();

										$("#regular").hide();
										//alert("x");
									}

								});



						$("#dd_employee_reference_type").change(
								function() {
									var ch = $('#dd_employee_reference_type').val();
									//alert(ch);
									if (ch.trim() == "Yes"
											|| ch.trim() == "Own") {
										$("#txt_employee_name").attr(
												"required", "required");
										$("#div_txt_employee_name").show();
										$("#dd_employee_designation").attr(
												"required", "required");
										$("#div_dd_employee_designation")
												.show();
										$("#txt_employee_number").attr(
												"required", "required");
										$("#div_txt_employee_number").show();
									} else {
										$("#txt_employee_name").removeAttr(
												"required", "required");
										$("#div_txt_employee_name").hide();
										$("#txt_employee_name").val("");
										$("#dd_employee_designation")
												.removeAttr("required",
														"required");
										$("#div_dd_employee_designation")
												.hide();
										$("#dd_employee_designation").val("");
										$("#txt_employee_number").removeAttr(
												"required", "required");
										$("#div_txt_employee_number").hide();
										$("#txt_employee_number").val("");

									}

								});
						
						

						function showDept(dept) {
							if (dept === "ticket_creator") {
								$("#div_group_employee_reference").show();
								$("#div_group_ticket_creator").show();

							} else if (dept === "vocm") {
								$("#div_group_vocm").show();

							} else if (dept === "tcm_network") {
								$("#div_group_tcm_network").show();

							} else if (dept === "rp") {
								$("#div_group_rp").show();

							} else if (dept === "ro") {
								$("#div_group_ro").show();

							} else if (dept === "deployment") {
								$("#div_group_deployment").show();

							} else if (dept === "regional_transformation") {
								$("#div_group_regional_transformation").show();

							}
						}

						function disableAll() {

							//Employee Reference                    
							$("#dd_employee_reference_type").prop("disabled",
									true);
							$("#txt_employee_name").prop("disabled", true);
							$("#dd_employee_designation")
									.prop("disabled", true);
							$("#txt_employee_number").prop("disabled", true);
							// Ticket creator
							$("#div_group_ticket_creator").prop("disabled",
									true);
							$("#txt_employee_reference").prop("disabled", true);
							$("#dd_coverage_problem").prop("disabled", true);


							  $("#regular_input").prop("disabled", true);
								$("#sudden_input").prop("disabled", true);
							

							
							$("#dd_circle_thana").prop("disabled", true);
							$("#dd_subarea_village").prop("disabled", true);
							$("#txt_road").prop("disabled", true);
							$("#txt_house").prop("disabled", true);
							$("#txt_handset_model").prop("disabled", true);
							$("#dd_required_solution").prop("disabled", true);
							$("#dd_problem_location").prop("disabled", true);
							//vocm
							$("#div_group_vocm").prop("disabled", true);
							$("#txt_problematic_floor").prop("disabled", true);
							$("#txt_problematic_floor_number").prop("disabled",
									true);
							$("#txt_floor_size").prop("disabled", true);
							$("#txt_problematic_area").prop("disabled", true);
							$("#txt_subscribers_problematic_area").prop(
									"disabled", true);
							$("#txt_months_average").prop("disabled", true);
							$("#txt_loyalty_status").prop("disabled", true);
							$("#txt_monthly_yearly_revenue").prop("disabled",
									true);
							$("#txt_serving_cell_name").prop("disabled", true);
							$("#txt_sqms").prop("disabled", true);
							$("#txt_rx_level_rscp").prop("disabled", true);
							$("#txt_rx_qual_ecno").prop("disabled", true);
							$("#txt_trace_experience").prop("disabled", true);

							//tcm_network
							$("#div_group_tcm_network").prop("disabled", true);
							$("#txt_problem_component").prop("disabled", true);
							$("#txt_task_responsibility")
									.prop("disabled", true);
							$("#dd_platform").prop("disabled", true);
							//rp
							$("#div_group_rp").prop("disabled", true);
							$("#txt_rfs_wr_name").prop("disabled", true);
							$("#txt_problem_component_rp").prop("disabled",
									true);
							$("#txt_task_responsibility_rp").prop("disabled",
									true);
							//$("#dd_constraint").prop("disabled", true);
							//ro
							$("#div_group_ro").prop("disabled", true);
							$("#dd_status_ro").prop("disabled", true);
							$("#txt_task_responsibility_ro").prop("disabled",
									true);
							$("#txt_problem_component_ro").prop("disabled",
									true);
							//deployment
							$("#div_group_deployment").prop("disabled", true);
							$("#txt_sub_task_assignment")
									.prop("disabled", true);
							$("#dd_status_deployment").prop("disabled", true);
							//regional_transformation
							$("#div_group_regional_transformation").prop(
									"disabled", true);
							$("#txt_sub_task_assignment_regional").prop(
									"disabled", true);
							$("#dd_status_regional").prop("disabled", true);
						}

						function enableDept(dept) {

							// for VOCM role, ticket_creator role will be enable and shown

							if (dept === "vocm" || dept === "ticket_creator") {

								//Employee Reference                    
								$("#dd_employee_reference_type").prop(
										"disabled", false);
								$("#txt_employee_name").prop("disabled", false);
								$("#dd_employee_designation").prop("disabled",
										false);
								$("#txt_employee_number").prop("disabled",
										false);
								//ticket_creator
								$("#div_group_ticket_creator").prop("disabled",
										false);
								$("#txt_employee_reference").prop("disabled",
										false);
								$("#dd_coverage_problem").prop("disabled",
										false);


								   $("#regular_input").prop("disabled", false);
									$("#sudden_input").prop("disabled", false);
								
								$("#dd_circle_thana").prop("disabled", false);
								$("#dd_subarea_village")
										.prop("disabled", false);
								$("#txt_road").prop("disabled", false);
								$("#txt_house").prop("disabled", false);
								$("#txt_handset_model").prop("disabled", false);
								$("#dd_required_solution").prop("disabled",
										false);
								$("#dd_problem_location").prop("disabled",
										false);

								//Required

								$("#dd_employee_reference_type").attr("required", "required");
								$("#txt_employee_name").attr("required","required");
								$("#dd_employee_designation").attr("required","required");
								$("#txt_employee_number").attr("required","required");
								$("#dd_coverage_problem").attr("required", "required");
								$("#dd_subarea_village").attr("required", "required");
								$("#txt_road").attr("required", "required");
								$("#txt_house").attr("required", "required");
								$("#txt_handset_model").attr("required",
										"required");
								$("#dd_problem_location").attr("required",
										"required");
								
								$("#dd_required_solution").attr("required",
								"required");
								$("#regular_input")
										.attr("required", "required");
								//$("#sudden_input").attr("required", "required");

							}

							if (dept === "vocm") {
								$("#div_group_vocm").prop("disabled", false);
								$("#txt_problematic_floor").prop("disabled",
										false);
								$("#txt_problematic_floor_number").prop(
										"disabled", false);
								$("#txt_floor_size").prop("disabled", false);
								$("#txt_problematic_area").prop("disabled",
										false);
								$("#txt_subscribers_problematic_area").prop(
										"disabled", false);
								$("#txt_months_average")
										.prop("disabled", false);
								$("#txt_loyalty_status")
										.prop("disabled", false);
								$("#txt_monthly_yearly_revenue").prop(
										"disabled", false);
								$("#txt_serving_cell_name").prop("disabled",
										false);
								$("#txt_sqms").prop("disabled", false);
								$("#txt_rx_level_rscp").prop("disabled", false);
								$("#txt_rx_qual_ecno").prop("disabled", false);
								$("#txt_trace_experience").prop("disabled",
										false);

								//required
								$("#txt_problematic_floor").attr("required",
										"required");
								$("#txt_problematic_floor_number").attr(
										"required", "required");
								$("#txt_floor_size").attr("required",
										"required");
								$("#txt_problematic_area").attr("required",
										"required");
								$("#txt_subscribers_problematic_area").attr(
										"required", "required");
								$("#txt_months_average").attr("required",
										"required");
								$("#txt_loyalty_status").attr("required",
										"required");
								$("#txt_monthly_yearly_revenue").attr(
										"required", "required");
								$("#txt_serving_cell_name").attr("required",
										"required");
								$("#txt_sqms").attr("required", "required");
								$("#txt_rx_level_rscp").attr("required",
										"required");
								$("#txt_rx_qual_ecno").attr("required",
										"required");
								$("#txt_trace_experience").attr("required",
										"required");
							}

							else if (dept === "tcm_network") {
								$("#div_group_tcm_network").prop("disabled",
										false);
								$("#txt_problem_component").prop("disabled",
										false);
								$("#txt_task_responsibility").prop("disabled",
										false);
								$("#dd_platform").prop("disabled", false);

								//required
								$("#txt_problem_component").attr("required",
										"required");
								$("#dd_platform").attr("required", "required");

							} else if (dept === "rp") {
								$("#div_group_rp").prop("disabled", false);
								$("#txt_rfs_wr_name").prop("disabled", false);
								$("#txt_problem_component_rp").prop("disabled",
										false);
								$("#txt_task_responsibility_rp").prop(
										"disabled", false);
							//	$("#dd_constraint").prop("disabled", false);

								//required
								$("#txt_rfs_wr_name").attr("required",
										"required");
								$("#txt_problem_component_rp").attr("required",
										"required");
							//	$("#dd_constraint").attr("required", "required");

							} else if (dept === "ro") {
								$("#div_group_ro").prop("disabled", false);
								$("#dd_status_ro").prop("disabled", false);
								$("#txt_task_responsibility_ro").prop(
										"disabled", false);
								$("#txt_problem_component_ro").prop("disabled",
										false);

								//required: ro

								$("#dd_status_ro").attr("required", "required");
								//$("#txt_task_responsibility_ro").attr("required", "required");
								$("#txt_problem_component_ro").attr("required",
										"required");

							} else if (dept === "deployment") {
								$("#div_group_deployment").prop("disabled",
										false);
								$("#txt_sub_task_assignment").prop("disabled",
										false);
								$("#dd_status_deployment").prop("disabled",
										false);

								//required: depolyment

								//$("#txt_sub_task_assignment").attr("required", "required");
								$("#dd_status_deployment").attr("required",
										"required");

							} else if (dept === "regional_transformation") {
								$("#div_group_regional_transformation").prop(
										"disabled", false);
								$("#txt_sub_task_assignment_regional").prop(
										"disabled", false);
								$("#dd_status_regional")
										.prop("disabled", false);

								// required: regional transformation

								//$("#txt_sub_task_assignment_regional").attr("required", "required");
								$("#dd_status_regional").attr("required",
										"required");

							}
						}

						//var getUrlParameter = function getUrlParameter(sParam) {
						function getUrlParameter(sParam) {

							alert("sParam : " + sParam);
							var sPageURL = decodeURIComponent(window.location.search
									.substring(1)), sURLVariables = sPageURL
									.split('&'), sParameterName, i;
							for (i = 0; i < sURLVariables.length; i++) {
								sParameterName = sURLVariables[i].split('=');
								if (sParameterName[0] === sParam) {
									return sParameterName[1] === undefined ? true
											: sParameterName[1];
								}
							}
						}
					});
</script>
<div id="div_group_employee_reference">


	<form>
		<fieldset>
			<legend>Employee Reference</legend>
			<div class="row">
				<div class="col-md-6 form-group" id="div_dd_employee_reference_type">
					<label class="col-md-4 control-label"
						for="dd_employee_reference_type">Employee Reference Type <font
						size="5" color=red>*</font>
					</label>
					<div class="col-md-8">
						<select class="form-control" id="dd_employee_reference_type" required
							ng-model="one.ticketdynamicfield.d1">
							<option value="">Select</option>
							<option>No</option>
							<option>Yes</option>
							<option>Own</option>
						</select>
					</div>

				</div>
				<div class="col-md-6 form-group" id="div_txt_employee_name">
					<label class="col-md-4 control-label" for="txt_employee_name"
						ng-if="one.ticketdynamicfield.d1=='Yes' || one.ticketdynamicfield.d1=='Own'">Employee
						Name <font size="5" color=red>*</font>
					</label>
					<div class="col-md-8">
						<input
							ng-if="one.ticketdynamicfield.d1=='Yes' || one.ticketdynamicfield.d1=='Own'"
							required type="text" ng-model="one.ticketdynamicfield.d2"
							id="txt_employee_name" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group" id="div_dd_employee_designation">
					<label class="col-md-4 control-label" for="dd_employee_designation"
						ng-if="one.ticketdynamicfield.d1=='Yes' || one.ticketdynamicfield.d1=='Own'">Employee
						Designation <font size="5" color=red>*</font>
					</label>
					<div class="col-md-8">
						<select
							ng-if="one.ticketdynamicfield.d1=='Yes' || one.ticketdynamicfield.d1=='Own'"
							required class="form-control" id="dd_employee_designation"
							ng-model="one.ticketdynamicfield.d3">
							<option value="">Select</option>
							<option>Executive</option>
							<option>Senior Executive</option>
							<option>Specialist</option>
							<option>Deputy General Manager</option>
							<option>General Manager</option>
							<option>Deputy Director</option>
							<option>Director</option>
							<option>CxO</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 form-group" id="div_txt_employee_number">
					<label
						ng-if="one.ticketdynamicfield.d1=='Yes' || one.ticketdynamicfield.d1=='Own'"
						class="col-md-4 control-label" for="txt_employee_number">Employee
						Number <font size="5" color=red>*</font>
					</label>
					<div class="col-md-8">
						<input
							ng-if="one.ticketdynamicfield.d1=='Yes' || one.ticketdynamicfield.d1=='Own'"
							required type="text" ng-model="one.ticketdynamicfield.d4"
							id="txt_employee_number" class="form-control" />
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div id="div_group_ticket_creator">
	<form>
		<fieldset>
			<legend>Ticket Creator</legend>
			<div class="row">
				<!-- 				<div class="col-md-6 form-group" id="div_dd_circle_thana"> -->
				<!-- 					<label class="col-md-4 control-label" for="dd_circle_thana">Circle -->
				<!-- 						Thana *</label> -->
				<!-- 					<div class="col-md-8"> -->
				<!-- 						MAP ID:{{circlethana.id}} <br> Circle-Thana -->
				<!-- 						Name:{{circlethana.name}} <br> Select Thana: <input -->
				<!-- 							class="form-control" type="text" ng-model="circlethana" -->
				<!-- 							id="dd_circle_thana" -->
				<!-- 							typeahead="ct as ct.name for ct in circlethanalist | filter:$viewValue" /> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<div class="col-md-6 form-group" id="div_txt_handset_model">
					<label class="col-md-4 control-label" for="txt_handset_model">Handset
						Model <font size="5" color=red>*</font>
					</label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d10"
							id="txt_handset_model" class="form-control" />
					</div>
				</div>
				<div class="col-md-6 form-group" id="div_dd_coverage_problem">
					<label class="col-md-4 control-label" for="dd_coverage_problem">Coverage
						Problem <font size="5" color=red>*</font>
					</label>
					<div class="col-md-8">
						<select class="form-control" id="dd_coverage_problem" required
							ng-model="one.ticketdynamicfield.d5">
							<option value="">Select</option>
							<option>Sudden</option>
							<option>Regular</option>
						</select>
					</div>
				</div>
				<div class="col-md-6 form-group" id="div_dd_subarea_village">
					<label class="col-md-4 control-label" for="dd_subarea_village">Sub
						Area/ Village <font size="5" color=red>*</font>
					</label>
					<div class="col-md-8">
						
						<input type="text" ng-model="one.ticketdynamicfield.d7"
							id="dd_subarea_village" class="form-control" />
					</div>
				</div>
				<div class="col-md-6 form-group">
					<label class="col-md-4 control-label" for="sudden">Problem
						Start Date</label>

					<div class="col-md-8" id="sudden">
						<input type='text' class="form-control" id='sudden_input'
							ng-model="one.ticketdynamicfield.d6" style="margin-top: 1%;" />
					</div>

					<label class="col-md-4 control-label" for="regular"
						ng-if="one.ticketdynamicfield.d5 =='Regular'">How long
						facing problem? <font size="5" color=red>*</font>
					</label>

					<div class="col-md-8" id="regular"
						ng-if="one.ticketdynamicfield.d5 =='Regular'">
						<input type="text" ng-if="one.ticketdynamicfield.d5 =='Regular'"
							required id="regular_input" class="form-control"
							ng-model="one.ticketdynamicfield.d6" style="margin-top: 1%;" />
					</div>

				</div>
			</div>

</div>

<div class="row">


	<div class="col-md-6 form-group" id="div_txt_road">
		<label class="col-md-4 control-label" for="txt_road">Road No.
			<font size="5" color=red>*</font>
		</label>
		<div class="col-md-8">
			<input type="text" ng-model="one.ticketdynamicfield.d8" id="txt_road"
				class="form-control" />
		</div>
	</div>
	<div class="col-md-6 form-group" id="div_txt_house">
		<label class="col-md-4 control-label" for="txt_house">House
			No. <font size="5" color=red>*</font>
		</label>
		<div class="col-md-8">
			<input type="text" ng-model="one.ticketdynamicfield.d9"
				id="txt_house" class="form-control" />
		</div>
	</div>
</div>
<div class="row">
	
	<!-- 	<div class="col-md-6 form-group" id="div_txt_handset_model"> -->
	<!-- 		<label class="col-md-4 control-label" for="txt_handset_model">Handset -->
	<!-- 			Model *</label> -->
	<!-- 		<div class="col-md-8"> -->
	<!-- 			<input type="text" ng-model="one.ticketdynamicfield.d10" -->
	<!-- 				id="txt_handset_model" class="form-control" /> -->
	<!-- 		</div> -->
	<!-- 	</div> -->
</div>
<div class="row">
	<div class="col-md-6 form-group" id="div_dd_required_solution">
		<label class="col-md-4 control-label" for="dd_required_solution">Required
			Solution <font size="5" color=red>*</font>
		</label>
		<div class="col-md-8">
			<select class="form-control" id="dd_required_solution"
				ng-model="one.ticketdynamicfield.d11">
				<option value="">Select</option>
				<option>Voice</option>
				<option>Data</option>
				<option>Both</option>
			</select>
		</div>
	</div>
	<div class="col-md-6 form-group" id="div_dd_problem_location">
		<label class="col-md-4 control-label" for="dd_problem_location">Problem
			Location <font size="5" color=red>*</font>
		</label>
		<div class="col-md-8">
			<select class="form-control" id="dd_problem_location"
				ng-model="one.ticketdynamicfield.d12">
				<option value="">Select</option>
				<option>Indoor</option>
				<option>Outdoor</option>
			</select>
		</div>
	</div>
</div>
</fieldset>
</form>
</div>
<div id="div_group_vocm">
	<form>
		<fieldset>
			<legend>From VOCM</legend>
			<div class="row">
				<div class="col-md-6 form-group" id="div_txt_problematic_floor">
					<label class="col-md-4 control-label" for="txt_problematic_floor">Total
						Number of Problematic Floor <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d15"
							id="txt_problematic_floor" class="form-control" />
					</div>
				</div>
				<div class="col-md-6 form-group"
					id="div_txt_problematic_floor_number">
					<label class="col-md-4 control-label"
						for="txt_problematic_floor_number">Problematic Floor
						Number <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d16"
							id="txt_problematic_floor_number" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group" id="div_txt_floor_size">
					<label class="col-md-4 control-label" for="txt_floor_size">Each
						Floor Size (in Sqft) <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d17"
							id="txt_floor_size" class="form-control" />
					</div>
				</div>
				<div class="col-md-6 form-group" id="div_txt_problematic_area">
					<label class="col-md-4 control-label" for="txt_problematic_area">Number
						of Subscriber in Problematic Area <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d18"
							id="txt_problematic_area" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group"
					id="div_txt_subscribers_problematic_area">
					<label class="col-md-4 control-label"
						for="txt_subscribers_problematic_area">MSISDN of
						Subscribers in Problematic Area <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d19"
							id="txt_subscribers_problematic_area" class="form-control" />
					</div>
				</div>
				<div class="col-md-6 form-group" id="div_txt_months_average">
					<label class="col-md-4 control-label" for="txt_months_average">Three
						months average usage for each Subscriber <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d20"
							id="txt_months_average" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group" id="div_txt_loyalty_status">
					<label class="col-md-4 control-label" for="txt_loyalty_status">Loyalty
						Status for the Subscribers as per CRM <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d21"
							id="txt_loyalty_status" class="form-control" />
					</div>
				</div>
				<div class="col-md-6 form-group" id="div_txt_monthly_yearly_revenue">
					<label class="col-md-4 control-label"
						for="txt_monthly_yearly_revenue">Monthly / Yearly Revenue
						Information <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d22"
							id="txt_monthly_yearly_revenue" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group" id="div_txt_serving_cell_name">
					<label class="col-md-4 control-label" for="txt_serving_cell_name">Serving
						Cell Name <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d23"
							id="txt_serving_cell_name" class="form-control" />
					</div>
				</div>
				<div class="col-md-6 form-group" id="div_txt_sqms">
					<label class="col-md-4 control-label" for="txt_sqms">SQMS
						findings: (number of call drops/call failures) <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d24"
							id="txt_sqms" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group" id="div_txt_rx_level_rscp">
					<label class="col-md-4 control-label" for="txt_rx_level_rscp">Rx-level
						/ RSCP <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d25"
							id="txt_rx_level_rscp" class="form-control" />
					</div>
				</div>
				<div class="col-md-6 form-group" id="div_txt_rx_qual_ecno">
					<label class="col-md-4 control-label" for="txt_rx_qual_ecno">Rx-Qual/ECNO
						<font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d26"
							id="txt_rx_qual_ecno" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 form-group" id="div_txt_trace_experience">
					<label class="col-md-4 control-label" for="txt_trace_experience">Trace
						Experience <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d28"
							id="txt_trace_experience" class="form-control" />
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div id="div_group_tcm_network">
	<form>
		<fieldset>
			<legend>From TCM Network</legend>
			<div class="row">
				<div class="col-md-6 form-group" id="div_txt_problem_component">
					<label class="col-md-4 control-label" for="txt_problem_component">Problem
						Component <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d30"
							id="txt_problem_component" class="form-control" />
					</div>
				</div>
				<!-- 				<div class="col-md-6 form-group" id="div_txt_task_responsibility"> -->
				<!-- 					<label class="col-md-4 control-label" for="txt_task_responsibility">Task -->
				<!-- 						Responsibility *</label> -->
				<!-- 					<div class="col-md-8"> -->
				<!-- 						<select class="form-control" id="txt_task_responsibility" -->
				<!-- 							ng-model="one.ticketdynamicfield.d35"> -->
				<!-- 							<option></option> -->
				<!-- 							<option>...</option> -->
				<!-- 							<option>....</option> -->
				<!-- 						</select> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
			</div>
			<div class="row">
				<div class="col-md-6 form-group" id="div_dd_platform">
					<label class="col-md-4 control-label" for="dd_platform">Platform
						<font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<select class="form-control" id="dd_platform"
							ng-model="one.ticketdynamicfield.d32">
							<option value="">Select</option>
							<option>SAP</option>
							<option>BSCS</option>
							<option>EMA</option>
							<option>SDP</option>
							<option>AIR</option>
							<option>SMSC</option>
							<option>ERS</option>
							<option>UPCC</option>
							<option>CCN</option>
							<option>Ecare</option>
							<option>EMM</option>
							<option>RNC</option>
							<option>HLR</option>
							<option>SGSN</option>
							<option>GGSN</option>
							<option>BSC</option>
							<option>NODB</option>
							<option>BTS</option>
							<option>Transmission</option>
							<option>MGW</option>
						</select>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div id="div_group_rp">
	<form>
		<fieldset>
			<legend>From RP</legend>
			<div class="row">
				<div class="col-md-6 form-group" id="div_txt_rfs_wr_name">
					<label class="col-md-4 control-label" for="txt_rfs_wr_name">RFS/
						WR Name <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d33"
							id="txt_rfs_wr_name" class="form-control" />
					</div>

				</div>
				<div class="col-md-6 form-group" id="div_txt_problem_component_rp">
					<label class="col-md-4 control-label"
						for="txt_problem_component_rp">Problem Component <font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<input type="text" ng-model="one.ticketdynamicfield.d30"
							id="txt_problem_component_rp" class="form-control" />
					</div>
				</div>
			</div>
			<div class="row">
				<!-- 				<div class="col-md-6 form-group" id="div_txt_task_responsibility_rp"> -->
				<!-- 					<label class="col-md-4 control-label" -->
				<!-- 						for="txt_task_responsibility_rp">Task Responsibility *</label> -->
				<!-- 					<div class="col-md-8"> -->
				<!-- 						<select class="form-control" id="txt_task_responsibility_rp" -->
				<!-- 							ng-model="one.ticketdynamicfield.d35"> -->
				<!-- 							<option></option> -->
				<!-- 							<option>...</option> -->
				<!-- 							<option>....</option> -->
				<!-- 						</select> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
<!-- 				<div class="col-md-6 form-group" id="div_dd_constraint"> -->
<!-- 					<label class="col-md-4 control-label" for="dd_constraint">Constraint -->
<!-- 						*</label> -->
<!-- 					<div class="col-md-8"> -->
<!-- 						<select class="form-control" id="dd_constraint" -->
<!-- 							ng-model="one.ticketdynamicfield.d36"> -->
<!-- 							<option></option> -->
<!-- 							<option>Budgetary Constraint</option> -->
<!-- 							<option>Resource Constraint</option> -->
<!-- 							<option>Border Restriction</option> -->
<!-- 							<option>BTRC or Authority Restriction</option> -->
<!-- 							<option>Business case not Justified</option> -->
<!-- 							<option>Incomplete Data provided</option> -->
<!-- 							<option>No technical Problem Found</option> -->
<!-- 						</select> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</div>
		</fieldset>
	</form>
</div>
<div id="div_group_ro">
	<form>
		<fieldset>
			<legend>From RO</legend>
			<div class="row">
				<div class="col-md-6 form-group" id="div_dd_status_ro">
					<label class="col-md-4 control-label" for="dd_status_ro">Status
						<font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<select class="form-control" id="dd_status_ro"
							ng-model="one.ticketdynamicfield.d37">
							<option value="">Select</option>
							<option>Subscriber Unreachable</option>
							<option>Field Data Collected</option>
							<option>DT Performed</option>
							<option>No Problem Exists</option>
							<option>O&M Issue Solved</option>
						</select>
					</div>
				</div>
				<!-- 				<div class="col-md-6 form-group" id="div_txt_task_responsibility_ro"> -->
				<!-- 					<label class="col-md-4 control-label" -->
				<!-- 						for="txt_task_responsibility_ro">Task Responsibility *</label> -->
				<!-- 					<div class="col-md-8"> -->
				<!-- 						<select class="form-control" id="txt_task_responsibility_ro" -->
				<!-- 							ng-model="one.ticketdynamicfield.d38"> -->
				<!-- 							<option></option> -->
				<!-- 							<option>...</option> -->
				<!-- 							<option>....</option> -->
				<!-- 						</select> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<div class="row">
					<div class="col-md-6 form-group" id="div_txt_problem_component_ro">
						<label class="col-md-4 control-label"
							for="txt_problem_component_ro">Problem Component <font
						size="5" color=red>*</font></label>
						<div class="col-md-8">
							<input type="text" ng-model="one.ticketdynamicfield.d30"
								id="txt_problem_component_ro" class="form-control" />
						</div>
					</div>
				</div>
			</div>

			<!-- 			<div class="row"> -->
			<!-- 				<div class="col-md-6 form-group" id="div_txt_problem_component_ro"> -->
			<!-- 					<label class="col-md-4 control-label" -->
			<!-- 						for="txt_problem_component_ro">Problem Component *</label> -->
			<!-- 					<div class="col-md-8"> -->
			<!-- 						<input type="text" ng-model="one.ticketdynamicfield.d39" -->
			<!-- 							id="txt_problem_component_ro" class="form-control" /> -->
			<!-- 					</div> -->
			<!-- 				</div> -->
			<!-- 			</div> -->
		</fieldset>
	</form>
</div>
<div id="div_group_deployment">
	<form>
		<fieldset>
			<legend>From Deployment</legend>
			<div class="row">
				<!-- 				<div class="col-md-6 form-group" id="div_txt_sub_task_assignment"> -->
				<!-- 					<label class="col-md-4 control-label" for="txt_sub_task_assignment">Sub -->
				<!-- 						Task Assignment *</label> -->
				<!-- 					<div class="col-md-8"> -->
				<!-- 						<select class="form-control" id="txt_sub_task_assignment" -->
				<!-- 							ng-model="one.ticketdynamicfield.d40"> -->
				<!-- 							<option></option> -->
				<!-- 							<option>....</option> -->
				<!-- 							<option>.....</option> -->
				<!-- 						</select> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<div class="col-md-6 form-group" id="div_dd_status_deployment">
					<label class="col-md-4 control-label" for="dd_status_deployment">Status
						<font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<select class="form-control" id="dd_status_deployment"
							ng-model="one.ticketdynamicfield.d41">
							<option value="">Select</option>
							<option>Done</option>
							<option>New Site Securing Challenge</option>
							<option>Customer Denied for Proposed Solution</option>
							<option>NOC not Available</option>
							<option>Power Problem</option>
							<option>Scheduling Problem</option>
						</select>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div id="div_group_regional_transformation">
	<form>
		<fieldset>
			<legend>From Regional Transformation</legend>
			<div class="row">
				<!-- 				<div class="col-md-6 form-group" -->
				<!-- 					id="div_txt_sub_task_assignment_regional"> -->
				<!-- 					<label class="col-md-4 control-label" -->
				<!-- 						for="txt_sub_task_assignment_regional">Sub Task Assignment -->
				<!-- 						*</label> -->
				<!-- 					<div class="col-md-8"> -->
				<!-- 						<select class="form-control" id="txt_sub_task_assignment_regional" -->
				<!-- 							ng-model="one.ticketdynamicfield.d42"> -->
				<!-- 							<option></option> -->
				<!-- 							<option>....</option> -->
				<!-- 							<option>.....</option> -->
				<!-- 						</select> -->
				<!-- 					</div> -->
				<!-- 				</div> -->
				<div class="col-md-6 form-group" id="div_dd_status_regional">
					<label class="col-md-4 control-label" for="dd_status_regional">Status
						<font
						size="5" color=red>*</font></label>
					<div class="col-md-8">
						<select class="form-control" id="dd_status_regional"
							ng-model="one.ticketdynamicfield.d43">
							<option value="">Select</option>
							<option>Done</option>
							<option>Securing Challenge</option>
							<option>Customer Denied for Proposed Solution</option>
							<option>NOC not Available</option>
							<option>Scheduling Problem</option>
							<option>Power Problem</option>
						</select>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
